# Lab 02 - Data Structures - Florentin Degbo

### Data Structures in Python: 

1. Lists: They are ordered, accept duplicates, mutable,
2. Tuples: They are ordered, accept duplicates, immutable,
3. Sets: They are unordered, don't accept duplicates, immutable (except for add and remove elements),
4. Dictionaries: They are unordered, don't accept duplicates, mutable, and the elements of a dictionary are in pairs of key/value.

**What is ordered? An ordered element has a fixed position; therefore; we can index (accessing a single element) an element in an ordered data structure.**

**What is duplicates? When the same values have different positions.**

**What is mutable? To be able to modify or change the value of an element in a data structure.**

### 1. Lists

In [4]:
L = [1, 2, 'Degbo', 3.14, True, 2]
L

[1, 2, 'Degbo', 3.14, True, 2]

In [5]:
type(L)

list

#### Indexing and Slicing
1. Indexing: Accessing a single element
2. Slicing: Accessing a range of elements

In [7]:
# let's index L and display 'Degbo'
L[2]

'Degbo'

In [8]:
L[-2]

True

In [9]:
# slicing the range of 2, "Degbo", 3.14 in L
L[1:4]

[2, 'Degbo', 3.14]

In [10]:
# to access all the elements
L[::]

[1, 2, 'Degbo', 3.14, True, 2]

In [11]:
# reverse the order of the elements
L[::-1]

[2, True, 3.14, 'Degbo', 2, 1]

In [12]:
# adding an element: append() method adds an element at the end of a list
L.append(50)
L

[1, 2, 'Degbo', 3.14, True, 2, 50]

In [13]:
# deleting elements from a list
# remove() method deletes elements by their values not positions
L.remove(50)
L

[1, 2, 'Degbo', 3.14, True, 2]

In [14]:
L2 = L.copy()

In [15]:
# making an empty list
L2.clear()
L2

[]

In [16]:
L[3] = False
L

[1, 2, 'Degbo', False, True, 2]

### Tuples

In [18]:
T = (1, 2, 'Degbo', 3.14, True, 2)
T

(1, 2, 'Degbo', 3.14, True, 2)

In [19]:
T[4]

True

In [20]:
# let's try to change the value of 3.14 in T

#TypeError: 'tuple' object does not support item re-assignment
#T[3] = 'Python'

In [21]:
# AttributeError: 'tuple' object has no attribute 'append'
#T.append(9)

### 3. Sets

In [23]:
S = {1, 2, 'Degbo', 3.14, False, 2, 0}
S

{1, 2, 3.14, 'Degbo', False}

In [24]:
# let's change the value of 2 in S
#TypeError: 'set' object does not support item assignment
#S[2] = 'Al'

In [25]:
# let's delete False from S
S.remove(False)
S

{1, 2, 3.14, 'Degbo'}

In [26]:
# lt's add an element to S
S.add('HCC')

### 4. Dictionaries

In [28]:
D = {1:'a', 'B':2, 5:3.14, 'school':'HCC', 'Degbo':True}
D

{1: 'a', 'B': 2, 5: 3.14, 'school': 'HCC', 'Degbo': True}

In [29]:
# we can access a value by its key
D['school']

'HCC'

In [30]:
D[5] = 'float'
D

{1: 'a', 'B': 2, 5: 'float', 'school': 'HCC', 'Degbo': True}

In [31]:
#AttributeError: 'dict' object has no attribute 'add'
#D.add('key:value')

In [32]:
# adding one pair to D
D['newkey'] = 'newvalue'
D

{1: 'a',
 'B': 2,
 5: 'float',
 'school': 'HCC',
 'Degbo': True,
 'newkey': 'newvalue'}

In [33]:
# adding more than one pair to D using the update() method
D.update({'cat':9,'summer':'hot','TX':'Austin'})

In [34]:
D.pop('cat')
D

{1: 'a',
 'B': 2,
 5: 'float',
 'school': 'HCC',
 'Degbo': True,
 'newkey': 'newvalue',
 'summer': 'hot',
 'TX': 'Austin'}

In [35]:
# another way to delete a pair in a dict is using del keyword
del D['B']
D

{1: 'a',
 5: 'float',
 'school': 'HCC',
 'Degbo': True,
 'newkey': 'newvalue',
 'summer': 'hot',
 'TX': 'Austin'}

In [36]:
D.keys()

dict_keys([1, 5, 'school', 'Degbo', 'newkey', 'summer', 'TX'])

In [37]:
D.values()

dict_values(['a', 'float', 'HCC', True, 'newvalue', 'hot', 'Austin'])

In [38]:
# we cannot assign a mutable object as a key
#immutable_key = {1: 'a',5: 'float',[1,2,3,4,5]: 'HCC'}

In [39]:
immutable_key_tuple = {1: 'a', 5: 'float',(1,2,3,4,5): 'HCC'}
immutable_key_tuple

{1: 'a', 5: 'float', (1, 2, 3, 4, 5): 'HCC'}

**Observation**

1. We cannot assign a list as a key since a list is muttable, 
2. Whereas, we can use a tuple as a key in a dictionary since the tuple is immutable.

### Conclusion
-Add 10 points here on what you learned from completing this lab
1. Indexing is accessing a single element.
2. Slicing is accessing a range of elements.
3. List, Tuple, and sets are single elements.
4. Dictionary values are separated using ":"
5. Muatable means can be changed.
6. Immutable means can not be changed.
7. In a set you can add and remove.
8. Sets and dictionary have no duplicate.
9. Sets and dictionary are unordered.
10. Duplicates are when the same values have different positions.

### End of Lab 02.